*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.looding{
    width: 100%;
    height: 100vh;
    background-color: #F4B826;
    display: flex;
    justify-content: center;
    align-items: center;

}
.looding-img{
 width: 300px;
    height: auto;
    object-fit: cover;
      animation: landing 1.5s ease-in infinite;
  opacity: 1;
}

@keyframes landing {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.07;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
 .looding-img {
    width: 200px;
  }
}
@media (max-width: 600px) {
  .looding-img {
    width: 100px;
  }
}
